<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-nav">
      <a class="footer-logo" href="./" title="logo">
        <picture class="header-img">
          <source
            srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x"
            media="(max-width: 1199px)"
          />

          <!-- Десктопна версія -->
          <source
            srcset="
              ./img/header/logo-desktop.png    1x,
              ./img/header/logo-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />

          <!-- Фолбек для старих браузерів -->
          <img src="./img/header/logo-desktop@2x.png" alt="Logo" />
        </picture>
        <span>Juicy Crush</span>
      </a>
      <ul class="footer-list">
        <li><a href="./privacy-policy.html">Privacy Policy</a></li>
        <li><a href="./terms-and-conditions.html">Terms and Conditions</a></li>
        <li><a href="./cookies-policy.html">Cookies Policy</a></li>
      </ul>
    </div>

    <p class="footer-copy">
      © 2025 Juicy Crush. All rights reserved juicycrush.site
    </p>
  </div>
</footer>
