<!-- Mobile Menu -->
<div id="menu" class="mobile-menu">
  <div class="container">
    <div class="mobile-menu-header">
      <a class="header-logo" href="#">
        <img
          src="./img/header/logo.png"
          srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x"
          alt=""
        />
      </a>
      <button class="header-menu-button" id="menu-close">
        <img
          class="header-menu-image"
          src="{=$icon-x-path}"
          width="48"
          height="48"
          alt="Menu button image"
        />
      </button>
    </div>
    <ul id="mobile-menu-links">
      <li><a href="#overview">Game Overview</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">How to Play</a></li>
      <li><a href="#">Day in the Game</a></li>
      <li><a href="#">The Art of Sound</a></li>
      <li><a href="#">Developer’s Insights</a></li>
      <li><a href="#">Speedrun Challenges</a></li>
      <li><a href="#">Easter Eggs & Hidden Secrets</a></li>
    </ul>
  </div>
</div>
