<!-- Mobile Menu -->
<div id="menu" class="mobile-menu closed">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <a href="#">
        <img
          src="./img/header/logo.png"
          srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x"
          alt=""
        />
      </a>
      <button id="menu-close" title="close menu" class="menu-close-button">
        <!-- <svg class="icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-icon-x"></use>
        </svg> -->
      </button>
    </div>
    <nav>
      <ul id="mobile-menu-links" class="mobile-menu-list">
        <li><a href="#overview" data-text="Game Overview">Game Overview</a></li>
        <li><a href="#features" data-text="Features">Features</a></li>
        <li><a href="#play" data-text="How to Play">How to Play</a></li>
        <li><a href="#game" data-text="Day in the Game">Day in the Game</a></li>
        <li>
          <a href="#sounds" data-text="The Art of Sound">The Art of Sound</a>
        </li>
        <li>
          <a href="#developers" data-text="Developer’s Insights"
            >Developer’s Insights</a
          >
        </li>
        <li>
          <a href="#speedrun" data-text="Speedrun Challenges"
            >Speedrun Challenges</a
          >
        </li>
        <li>
          <a href="#secrets" data-text="Easter Eggs & Hidden Secrets"
            >Easter Eggs & Hidden Secrets</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
