<section class="sounds" id="sounds">
  <div class="container">
    <div class="sound">
      <h2 class="sound_h2">The Art of Sound</h2>
      <p class="sound_p">
        Every sound in <span>Juicy Crush</span> is designed to enhance
        immersion— from the crisp crunch of fruits to the explosion of boosters!
      </p>
      <a
        class="sound-cta"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.LMKS.JUICYCRUSH&hl=en&gl=us"
      >
        <span class="sound-cta-p">Download to Listen</span>
      </a>
    </div>
  </div>
</section>
