.header {
  background-color: $_light_bg_color;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header_nav {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-logo {
  padding-top: 11px;
  padding-bottom: 11px;
  flex-shrink: 0;
}

.header-menu-button {
  border: none;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 70px;
  background-color: transparent;
}

.header-img {
  width: 48px;
  height: 48px;
}

main {
  padding-top: 70px;
}

section {
  scroll-margin-top: 70px;
}

@media (min-width: 1200px) {
  .header_nav {
    display: block;
  }

  .header {
    height: 120px;
  }

  main {
    padding-top: 120px;
  }

  section {
    scroll-margin-top: 120px;
  }

  .header-container {
    height: 120px;
  }

  .header-img {
    width: 65px;
    height: 65px;
  }

  .header_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 9px;
    column-gap: 12px;

    a {
      @include transition(color);

      position: relative;
      display: block;

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include gradient-text();
        background-position: left;
        opacity: 0;

        @include transition(opacity);

        pointer-events: none;
      }

      &.active,
      &:active,
      &:hover {
        color: transparent;
      }

      &:hover::after,
      &.active::after,
      &:active::after {
        opacity: 1;
      }
    }
  }

  .header-logo {
    margin-right: 21px;
  }

  .header-menu-button {
    display: none;
  }

  .header_menu a {
    @include poppins(400);
    @include font(14, 18);
    color: #000;
  }
}
