.home {
  background-color: #fff7ed;
  background-image: $_gradient_decline;
  padding-top: 40px;
  padding-bottom: 40px;
}

// vk
.home-container {
  display: flex;
  gap: 20px;
}

.text-accent {
  font-weight: 700;
  font-size: 36px;
  line-height: 139%;
  text-align: center;
  background: linear-gradient(90deg, #f97316 0%, #ec4899 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 16px;
}

.home-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #4b5563;
  margin-bottom: 32px;
}

.home-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 0px solid #e5e7eb;
  border-radius: 12px;
  width: 280px;
  height: 65px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #f97316 0%, #ec4899 100%);

  @include gradientTransition($_gradient_button_clicked);
}

.home-cta-p {
  @include poppins(400);
  @include font(12, 16);
  color: #fff;
  width: 85px;
  height: 36px;

  span {
    @include poppins(700);
    @include font(14, 20);
  }
}

.image-container {
  position: relative;
  display: block;
  width: 494px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-1 {
  position: relative;
  z-index: 1;
  width: 238px;
  height: 253px;
  top: 3px;
  left: 141px;
}

.image-2 {
  width: 494px;
  height: 494px;
  flex-shrink: 0;
  position: absolute;
  top: 122px;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .image-container {
    display: none;
  }
}

@media (min-width: 1200px) {
  .home {
    height: 511px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    width: 494px;
    height: 351px;
    padding-top: 80px;
  }

  .text-accent {
    font-weight: 700;
    font-size: 48px;
  }

  .home-h1 {
    @include poppins(500);
    font-size: 48px;
    line-height: 125%;
    text-align: start;
    margin-bottom: 24px;

    .text-accent {
      @include font(48, 60);
    }
  }

  .home-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #4b5563;
    margin-bottom: 32px;
    text-align: start;
  }

  .home-cta {
    width: 184px;
    height: 65px;
  }
}
