.mobile-menu-container {
  width: $mobile;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu {
  background-image: $_gradient_decline;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 1;

  @include transition(transform, opacity);

  &.closed {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px 0 20px;
  margin-bottom: 40px;
}

.menu-close-button {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background-color: transparent;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 235px;
  height: 360px;
  align-items: center;

  li {
    @include poppins(400);
    @include font(16, 24);

    a {
      @include transition(color);
      position: relative;

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include gradient-text();
        background-position: left;
        opacity: 0;

        @include transition(opacity);

        pointer-events: none;
      }

      &.active,
      &:active,
      &:hover {
        color: transparent;
      }

      &:hover::after,
      &.active::after,
      &:active::after {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container nav {
  height: 100%;
  display: flex;
  justify-content: center;
}
