.page_p_p {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(90deg, #fff7ed 0%, #fdf2f8 100%);
}

.pp-back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 12px;
  width: 155px;
  height: 47px;

  @include poppins(500);
  @include font(18, 27);
  background: linear-gradient(90deg, #f97316 0%, #ec4899 100%);
  color: #fff;
  margin-bottom: 24px;

  @include gradientTransition($_gradient_button_clicked);
}

.pp_box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page_p_p h1 {
  font-weight: 600;
  @include font(24, 36);
  background: linear-gradient(90deg, #f97316 0%, #ec4899 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.pp_first_p {
  // padding-bottom: 42px;
  margin-bottom: 0;
}

.page_p_p h2 {
  font-weight: 600;
  @include font(16, 24);
  color: #000;
  margin-bottom: 24px;
}

.page_p_p p {
  font-weight: 400;
  @include font(14, 21);
  color: #000;
}

.page_p_p p:not(:last-child) {
  margin-bottom: 24px;
}

.page_p_p ul {
  list-style-type: disc;
  padding-left: 20px;
  @include font(14, 21);
}

.page_p_p ul:not(:last-child) {
  margin-bottom: 24px;
}

.page_p_p li a {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .page_p_p h1 {
    font-size: 36px;
  }

  .page_p_p h2 {
    font-weight: 600;
    font-size: 18px;
  }

  .page_p_p p {
    font-weight: 400;
    font-size: 16px;
  }

  .pp_first_p {
    padding-bottom: 0;
  }

  .page_p_p ul {
    @include font(16, 24);
  }

  .page_p_p {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
