@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './container.scss';
@import './header.scss';
@import './menu.scss';
@import './home.scss';
@import './overview.scss';
@import './features.scss';
@import './play.scss';
@import './game.scss';
@import './sound.scss';
@import './developers.scss';
@import './speedrun.scss';
@import './secrets.scss';
@import './footer.scss';
@import './cookies.scss';
@import './privacy-p.scss';
@import './cookies-p.scss';

:root {
  @include poppins(400);
  font-size: 14px;
  line-height: 1.14;

  color: #242424;
  background-color: #fffefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
